apiVersion: v1
kind: Service
metadata:
  name: influxdb
  namespace: inventory-system
  labels:
    app: influxdb
    component: k6-grafana
spec:
  ports:
    - port: 8086
      targetPort: 8086
      name: http
  selector:
    app: influxdb
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: influxdb
  namespace: inventory-system
  labels:
    app: influxdb
    component: k6-grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: influxdb
  template:
    metadata:
      labels:
        app: influxdb
        component: k6-grafana
    spec:
      containers:
        - name: influxdb
          image: influxdb:1.8
          ports:
            - containerPort: 8086
          env:
            - name: INFLUXDB_DB
              value: "k6"
            - name: INFLUXDB_HTTP_AUTH_ENABLED
              value: "false"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
          volumeMounts:
            - name: influxdb-data
              mountPath: /var/lib/influxdb
      volumes:
        - name: influxdb-data
          emptyDir: {}
